## Aineisto

Tehtävän aineisto on ladattu Tilastokeskuksen [Avoin data](https://stat.fi/org/avoindata/index.html) sivustolta 16.12.2024, ja se sisältää dataa Suomessa sattuneista riistaonnettomuuksista sijainnin mukaan vuosina 2017-2019. Aineisto on yhtenä CSV-tiedostona. 
Riistaonnettomuudet-tilasto on tuotettu kokeellisena tilastona, ja lisätietoa siitä on luettavissa [Riistaonnettomuudet-sivulta](https://stat.fi/tup/kokeelliset-tilastot/riistaonnettomuudet/index.html).

## Datan tuonti 

Luetaan csv-tiedosto datakehikkoon *df* ja katsotaan, miltä sen alku näyttää.

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [12]:
df = pd.read_csv("riista.csv", encoding = "latin1")

In [13]:
df.head()

,id,tapahtumaAika,vuosi,kuukausi,x,y,kunta,kuntaNimi,maakunta,maakuntaNimi,tielaji,tielajis,tieNumero,tieYllapito,tieYllapitoNimi,riistalaji,riistalajiNimi
0,1,2017-12-10T16:55:00.000+02:00,2017,12,278773.659,6980877.550,743,Seinäjoki,14,Etelä-Pohjanmaa,3,Valtatie,18.0,1.0,Valtio,47507,Metsäkauris
1,2,2017-09-03T13:00:00.000+03:00,2017,9,397501.008,7503083.730,261,Kittilä,19,Lappi,4,Kantatie,80.0,1.0,Valtio,47503,Hirvi
2,3,2017-09-18T07:00:00.000+03:00,2017,9,418353.841,7514104.657,261,Kittilä,19,Lappi,6,Muu maantie,9552.0,1.0,Valtio,47503,Hirvi
3,4,2017-12-01T17:00:00.000+02:00,2017,12,488970.827,6722504.397,285,Kotka,8,Kymenlaakso,5,Seututie,357.0,1.0,Valtio,47629,Valkohäntäpeura
4,5,2017-09-18T07:00:00.000+03:00,2017,9,418766.580,7506930.833,261,Kittilä,19,Lappi,6,Muu maantie,9552.0,1.0,Valtio,47503,Hirvi

Tutkitaan aineistoa hieman:

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63942 entries, 0 to 63941
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               63942 non-null  int64
 1   tapahtumaAika    63942 non-null  object
 2   vuosi            63942 non-null  int64
 3   kuukausi         63942 non-null  int64
 4   x                63938 non-null  float64
 5   y                63938 non-null  float64
 6   kunta            63942 non-null  int64
 7   kuntaNimi        63942 non-null  object
 8   maakunta         63942 non-null  int64
 9   maakuntaNimi     63942 non-null  object
 10  tielaji          63942 non-null  int64
 11  tielajis         63942 non-null  object
 12  tieNumero        54512 non-null  float64
 13  tieYllapito      63938 non-null  float64
 14  tieYllapitoNimi  63942 non-null  object
 15  riistalaji       63942 non-null  int64
 16  riistalajiNimi   63942 non-null  object
dtypes: float64(4), int64(7), object(6)
memory usage: 8.3+ MB

In [15]:
df.describe()

,id,vuosi,kuukausi,x,y,kunta,maakunta,tielaji,tieNumero,tieYllapito,riistalaji
count,63942.000000,63942.000000,63942.000000,63938.000000,6.393800e+04,63942.000000,63942.000000,63942.000000,54512.000000,63938.000000,63942.000000
mean,31971.500000,2019.143192,7.731397,331629.551888,6.801938e+06,488.237794,5.528917,5.134028,5340.253375,5.573212,48345.890088
std,18458.609793,1.379397,3.304244,92556.977805,1.420547e+05,278.793556,4.904538,1.994665,14572.468085,20.213823,10879.514528
min,1.000000,2017.000000,1.000000,184684.566700,6.638455e+06,5.000000,1.000000,1.000000,1.000000,1.000000,47484.000000
25%,15986.250000,2018.000000,5.000000,261715.918760,6.712820e+06,232.000000,2.000000,3.000000,18.000000,1.000000,47507.000000
50%,31971.500000,2019.000000,8.000000,316714.446885,6.760530e+06,503.000000,4.000000,5.000000,180.000000,1.000000,47629.000000
75%,47956.750000,2020.000000,11.000000,380399.198640,6.826629e+06,734.000000,6.000000,6.000000,2174.000000,1.000000,47629.000000
max,63942.000000,2021.000000,12.000000,708725.063000,7.768064e+06,992.000000,19.000000,9.000000,91541.000000,99.000000,200556.000000

Vaikuttaa siltä, ettei aineisto sisällä puuttuvia arvoja, ja että sarakkeiden tietotyypit ovat oikein. Tämä helpottaa esikäsittelyä, sillä puuttuvia arvoja sisältävien havaintojen käsittelyä ei tarvi nyt pohtia.    

Describe-metodin antamista tilastollisista tunnusluviusta ei tässä ole juurikaan hyötyä.    

Tarkastetaan seuraavaksi, sisältääkö data duplikaattirivejä:

In [20]:
duplikaatti = df[df.duplicated()]
duplikaatti

Empty DataFrame
Columns: [id, tapahtumaAika, vuosi, kuukausi, x, y, kunta, kuntaNimi, maakunta, maakuntaNimi, tielaji, tielajis, tieNumero, tieYllapito, tieYllapitoNimi, riistalaji, riistalajiNimi]
Index: []

Ei sisällä, mikä on hyvä juttu. Tämä data vaikuttaa siistiltä ja ehjältä jo valmiiksi, ja on valmis analyysiä varten.